NEXTAUTH_URL=http://localhost:3000
SITENAME="Your name"
EMAIL=youremail@yourdomainandnotgmailsinceyouareadeveloper.com
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
GITHUB_CLIENT_KEY=
GITHUB_CLIENT_SECRET=
OPENWEATHER_API_KEY=
REVUE_API_KEY=
DATABASE_URL="mysql://root@127.0.0.1:3309/db"
SHADOW_DATABASE_URL="mysql://root@127.0.0.1:3310/db"
RAINDROPS_TOKEN=
BURNER_GMAIL_PASSWORD=
BURNER_GMAIL=
